<div class="choose-location-box">
<%= form_tag("/locations/show", method: "post") do %>

<%= label_tag :zip, "Choose your burb", class: 'location-box' %>
<%= select_tag(:zip, options_for_select([['Ludlow', 10705], ['Yonkers', 10701], ['Glenwood', 10701], ['Greystone', 10701], ['Hastings-on-Hudson', 10706], ['Dobbs Ferry', 10522], ['Ardsley-on-Hudson', 10503], ['Irvington', 10533], ['Tarrytown', 10591], ['Philipse Manor', 10591], ['Scarborough', 10510], ['Ossining', 10562], ['Croton-Harmon', 10520], ['Cortlandt', 10548], ['Peekskill', 10566], ['Manitou', 10524], ['Garrison', 10524], ['Cold Spring', 10516], ['Breakneck Ridge', 12508], ['Beacon', 12508], ['New Hamburg', 12590], ['Poughkeepsie', 12601]]), prompt: 'Select one') %>





<div><%= submit_tag "Go", class: 'location-button' %></div>

<% end %>
</div>

