@import 'fonts';
@import 'colors';
@mixin login-signup {
    border-radius: 25px;
    width: 400px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    margin: 0px auto 0px auto;
    padding: 10px 20px 10px 20px; // font-family: $body-font-stack;
    // background-color: $mid-green;
}

.login-box {
    // @include login-signup;
    height: 300px;
}

.signup-box {
    @include login-signup;
    height: 350px;
}

.choose-location-box {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    width: 400px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    margin: 0px auto 0px auto;
    padding: 20px 20px 20px 20px;
    font-family: $body-font-stack;
    background-color: $mid-green;
    height: 180px;
    text-align: center;
}

.location-box {
    font-family: $body-font-stack;
    color: $light-grey;
    font-weight: bold;
    font-size: 30px;
}

.school-banner {
    font-family: $header-font-stack;
    font-size: 40px;
    background-color: $mid-green;
    color: $light-grey;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    padding: 5px 5px 5px 5px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    margin: 0 auto 20px auto;
    text-align: center;
    width: 200px;
}

.school-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.school-box {
    border-radius: 25px;
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 11px rgba(108, 108, 108, 1.00);
    font-family: $body-font-stack;
    background-color: $mid-green;
}

.school-header {
    font-family: $header-font-stack;
    font-size: 15px;
    color: $light-grey;
    padding: 10px 0 10px 0;
    text-align: center;
}

.school-text {
    font-family: $body-font-stack;
    color: $light-grey;
    font-size: 12px;
    text-align: center;
}

.school-link {
    font-family: $body-font-stack;
    color: $light-grey !important;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

.school-link:hover {
    color: $mid-grey;
}

.school-link a {
    color: $light-grey !important;
    text-decoration: none;
}

.great-schools {
    font-family: $header-font-stack;
    font-size: 15px;
    color: $mid-grey;
    margin: 10px 0 0 20px;
}

.great-schools a {
    color: $dark-green;
    text-decoration: none;
}