@import 'fonts';
@import 'colors';
.tree {
    width: 15%;
    height: auto;
    opacity: 0.2;
    margin: 20px 0px -0.4px 0px;
}

.house {
    width: 15%;
    height: auto;
    opacity: 0.2;
    margin: 60px 10px -0.5px 20px;
}

.foursquare-logo {
    width: 15%;
    height: auto;
}