@import 'fonts';
@import 'colors';
.tree {
    width: 15%;
    height: auto;
    opacity: 0.2;
    margin-top: 20px;
    margin-bottom: -0.4px;
}

.foursquare-logo {
    width: 15%;
    height: auto;
}